* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*inicio*/
body {
    background-color: whitesmoke;
}

header {
    padding: 25px;
}

h1 {
    color: lightblue;
    margin: 15px;
}

#subtitulo {
    color: lightblue;
    margin: 15px;
}

#menu {
    background-color: lightblue;
    text-align: center;
    margin: 20px;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

#menu ul li a:hover {
    background-color: #E31E25;
}

.carousel {
    margin: 50px;
    margin-bottom: 150px;
    margin-top: 150px;
    border-radius: 200px;
}


.redes-container {
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 30px;
    margin: 10px;
    background-color: lightblue;
}

.redes-container ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);

}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

.instagram {
    text-align: right;
}

/* Productos */
.tabla {
    border: solid #000;
    background-color: white;
    margin: 35px;
    width: 1250px;
}

h4 {
    margin: 10px;
}

.productos {
    margin: 10px;
    text-align: center;
}

table {
    margin: 10px;
}

/* Trabajos */
h3 {
    margin: 15px;
    font-size: 20px;
}


.trabajos {
    margin: 15px;
    padding: 45px;
    font-size: 15px;
}

/* Contactanos */
h5 {
    margin: 10px;
    text-align: center;
}

.contactanos {
    text-align: center;
}

.formulario {
    margin: 15px;
    width: 50%;
    position: relative;
    left: 25%;
}

.formulario1 {
    position: relative;
    left: 25%;
    margin: 15px;
    width: 50%;
}

/* Ubicacion */


h6 {
    margin: 15px;
}

.ubicacion {
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    margin: 15px;
}
.card img {
    width: 280px;
    height: 250px;
}